# ClickHouse 분석 웨어하우스를 Grafana와 자동 연동하기 위한 데이터 소스 정의
apiVersion: 1

datasources:
  - name: ClickHouse
    uid: clickhouse
    type: grafana-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    isDefault: true
    editable: true
    jsonData:
      defaultDatabase: analytics
      port: 8123
      protocol: http
      host: clickhouse
      username: log_user
      tlsSkipVerify: false
    secureJsonData:
      password: log_pwd
